#root {
  display: contents;
}

header {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
}

.search-container {
  max-width: 600px;
  margin: 0 auto;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  margin-right: 10px;
  border-radius: 25px;
}

.search-button,
.movies-button,
.tv-series-button,
.about-button
 {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  margin-left: 20px;
  position: relative;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 
                1px -1px 0 #000, -1px -1px 0 #000; 
}

.search-button:hover {
  background-color: #45a049;
}

.sticky-search {
  position: sticky;
  top: 0;
  background-color: #333;
  padding: 10px 0;
  z-index: 1000;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 
                1px -1px 0 #000, -1px -1px 0 #000; 
}

button:hover {
  background-color: #45a049;
}

input {
  padding: 10px;
  font-size: 16px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 20px;
}

.movie-card {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.movie-card h3 {
  margin: 10px 0;
  color: #333;
}

.movie-card p {
  color: #777;
  margin-bottom: 10px;
}

.back-button {
  position: absolute;
  transform: translateY(-50%);
  background-color: #45a049;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  z-index: 1000;
  color: #fff;
  left: 20px;
  margin-top: 20px;
  margin-left: 4px;
  margin-right: 4px;
}

/* Trending grid styles */
.trending-section {
  margin-bottom: 30px; /* Adjust the margin between sections if needed */
}

.trending-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.trending-card {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.trending-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  border-bottom: 1px solid #ddd;
}

.trendingCateg {
  text-align: center;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 
                1px -1px 0 #000, -1px -1px 0 #000; 
  background-color: #45a049;
  color: #fff;
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 25px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  cursor: default;
}

.trending-card h3 {
  margin: 10px 0;
  color: #333;
}

.trending-card p {
  color: #777;
  margin-bottom: 10px;
}

.something {
  background-color: #45a049;
}

.letsWatch {
  text-align: center;
  margin-bottom: 30px;
  background-color: #45a049;
  border-radius: 25px;
  padding: 10px 20px; 
  transition: background-color 0.3s ease;
  cursor: default;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.mainMenu {
  text-align: center;
  background-color: #333;
}

.aboutpage {
  text-align: center;
  color: #45a049;
  font-family: 'Times New Roman', Times, serif;
}

.aboutsite {
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
  background-color: #45a049;
  border-radius: 25px;
  padding: 10px 20px; 
  margin-left: auto;
  margin-right: auto;
  max-width: 310px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 
                1px -1px 0 #000, -1px -1px 0 #000; 
}

/* Large screens and desktops */
@media (min-width: 1200px) {
  .trending-grid {
    grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Adjust the number of columns as needed */
  }
}

/* Medium screens and tablets */
@media (max-width: 1199px) and (min-width: 768px) {
  .trending-grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr)); /* Adjust the number of columns as needed */
  }
}

/* Small screens and mobile devices */
@media (max-width: 767px) {
  .trending-grid {
    grid-template-columns: repeat(2, minmax(150px, 1fr)); /* Adjust the number of columns as needed */
  }
}
